In [3]:
import pandas as pd

In [4]:
path = '../Allwords.csv'
pd1 = pd.read_csv(path)
pd1.head()

     Negative   Positive
0     2-faced         a+
1     2-faces     abound
2    abnormal    abounds
3     abolish  abundance
4  abominable   abundant

In [17]:
input_text = 'I had a wonderfully terrible day with my 2-faced uncle piece of shit.'

In [18]:
splitter = input_text.split(' ')

In [19]:
splitter

['I',
 'had',
 'a',
 'wonderfully',
 'terrible',
 'day',
 'with',
 'my',
 '2-faced',
 'uncle',
 'piece',
 'of',
 'shit.']

In [20]:
pd2 = pd1.set_index('Negative')
pd2 = pd2.drop('Positive', axis=1)
pd3 = pd1.set_index('Positive')
pd3 = pd3.drop('Negative', axis=1)
pd3.head()

Empty DataFrame
Columns: []
Index: [a+, abound, abounds, abundance, abundant]

In [21]:
def sentScore(split_text):
    posCount = 0
    negCount = 0
    posArray = []
    negArray = []
    for x in split_text:
        try:
            posArray.append(pd3.loc[x])
        except KeyError:
            pass
        try:
            negArray.append(pd2.loc[x])
        except KeyError:
            pass
    posCount = len(posArray)
    negCount = len(negArray)
    print(posArray)
    print(negArray)
    return((posCount - negCount)/len(split_text), posCount, negCount)

In [22]:
sentScore(splitter)

[Series([], Name: wonderfully, dtype: float64)]
[Series([], Name: terrible, dtype: float64), Series([], Name: 2-faced, dtype: float64)]

(-0.07692307692307693, 1, 2)